@model IEnumerable<ViverBemADM.Models.SalesSituation>

@{
    ViewBag.Title = "Início - Situação de Vendas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Inserir Novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SituationName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SituationName)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.SalesSituationID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.SalesSituationID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Excluir", "Delete", new { id = item.SalesSituationID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
