@model IEnumerable<ViverBemADM.Models.Client>

@{
    ViewBag.Title = "Início - Clientes";
}

<h2>Início - Clientes</h2>

<p>
    @Html.ActionLink("Inserir Novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-xs-12 col-md-12">

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </th>
                <th>@Html.Label("Ações")</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactEmail)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ClientID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ClientID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ClientID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
