@model ViverBemADM.Models.NewsPaperSizes

@{
    ViewBag.Title = "Excluir - Tamanho de Anúncio";
}

<h2>Excluir - Tamanho dos Anúncios</h2>

<h3>Tem certeza que deseja excluir essa medida?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.NewsPaperSizesID)
            @Html.HiddenFor(model => model.Sales)
            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
                @Html.HiddenFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Width)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Width)
                @Html.HiddenFor(model => model.Width)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NormalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NormalPrice)
                @Html.HiddenFor(model => model.NormalPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PromotionalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PromotionalPrice)
                @Html.HiddenFor(model => model.PromotionalPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SizeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SizeName)
                @Html.HiddenFor(model => model.SizeName)
            </dd>

        </dl>

        <div class="form-actions no-color">
            @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-primary" })
            <input type="submit" value="Excluir" class="btn btn-success" /> |
        </div>

    </div>
}