@model ViverBemADM.Models.NewsPaperSizes

@{ ViewBag.Title = "Detalhes - Tamanho de Anúncio";}

<h2>Detalhes - Tamanho dos Anúncios</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Editar", "Edit", new { id = Model.NewsPaperSizesID }, new { @class = "btn btn-success" })
</p>
