@model IEnumerable<ViverBemADM.Models.NewsPaperSizes>

@{
    ViewBag.Title = "Index";
}

<h2>Início - Tamanho dos Anúncios</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })*@
    @Html.ActionLink("Inserir Novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.NewsPaperSizesID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.NewsPaperSizesID }, new { @class = "btn btn-warning  ", @onclick = "ShowModal();" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.NewsPaperSizesID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
