@model ViverBemADM.Models.PaymentForm

@{
    ViewBag.Title = "Excluir - Forma de Pagamento";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja excluir essa forma de pagamento?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.PaymentFormID)
            <dt>
                @Html.DisplayNameFor(model => model.PaymentFormName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentFormName)
                @Html.HiddenFor(model => model.PaymentFormID)
            </dd>

        </dl>

        <div class="form-actions no-color">
            @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-primary" })
            <input type="submit" value="Excluir" class="btn btn-success" />
        </div>


    </div>
}