@model ViverBemADM.Models.PaymentForm

@{
    ViewBag.Title = "Detalhes - Forma de Pagamento";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentFormName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentFormName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retornar a Lista", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Editar", "Edit", new { id = Model.PaymentFormID }, new { @class = "btn btn-success" })
</p>
