@model IEnumerable<ViverBemADM.Models.PaymentForm>

@{
    ViewBag.Title = "Início - Forma de Pagamento";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Inserir Novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentFormName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentFormName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PaymentFormID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.PaymentFormID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.PaymentFormID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
